{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <div class="box">
        <div class="box-header">
            <h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
            <form action="{{ url('fos_message_thread_new') }}" method="post">
                {{ form_widget(form._token) }}
                <div class="form-group">
                    {{ form_label(form.recipient) }}
                    {{ form_widget(form.recipient, {'attr': {'class': 'form-control select2'}}) }}
                    {{ form_errors(form.recipient) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.body) }}
                </div>
                <button type="submit" class="btn white m-b">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
