{% if threads %}
    {% for thread in threads %}
        <div class="list-item b-l b-l-2x b-info">
            <div class="list-left">
                <span class="w-40 avatar">
                    <img src="{{ asset('uploads/users/') ~ thread.createdBy.path }}" title="{{ thread.createdBy }}"/>
                </span>
            </div>
            <div class="list-body">
                <div class="pull-right text-muted text-xs">
                    <span class="hidden-xs">{{ thread.createdAt|date('d-m-Y H:i') }}</span>
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                            <form action="{{ formAction }}" method="post">
                                <button type="submit" class="no-borders pull-right"><i class="fa fa-undo"></i></button>
                            </form>
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                            <form action="{{ formAction }}" method="post">
                                <button type="submit" class="no-borders pull-right"><i class="fa fa-trash-o"></i></button>
                            </form>
                        {% endif %}
                        
                    {% endif %}
                </div>
                <div>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" class="_500">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        <span class="label label-xs m-l-sm text-u-c red-background-color">
                            {% trans from 'FOSMessageBundle' %}new{% endtrans %}
                        </span>
                    {% endif %}

                </div>
                <div class="text-ellipsis text-muted text-sm">
                    {{ thread.lastMessage.body|slice(0, 200) }}..
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
{% endif %}