{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <span class="label success pull-right red-background-color">{{ thread.messages|length }}</span>
                    <h3 class="normal">{{ thread.subject }}</h3>
                </div>
                <div class="box-body">
                    <div class="streamline b-l m-b m-l">
                        {% for message in thread.messages %}
                            <div class="sl-item">
                                <div class="sl-left">
                                    <img src="{{ asset('uploads/users/') ~ message.sender.path }}" class="img-circle">
                                </div>
                                <div class="sl-content">
                                    <a href="" class="text-info">{{ message.sender.name }}</a><span class="m-l-sm sl-date pull-right">{{ message.createdAt|date('d-m-Y H:i') }}</span>
                                    <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                                        {{ message.body }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    {#<a href="" class="btn btn-sm success text-u-c m-y-sm">Load More</a>#}
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h2>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h2>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
            <form action="{{ path('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                {{ form_widget(form._token) }}
                <div class="form-group">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.body) }}
                </div>
                <button type="submit" class="btn white m-b">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
