{% extends '::base.html.twig' %}

{% block title %}oops{% endblock %}

{% block body %}
    <div class="padding min-h-500">
        <div class="col-sm-12 text-center red-color min-h-280 margin-top-200">
            <div class="exception-container">
                <div class="white-box">
                    <div class="exception-message">
                        {{ 'exception.500.message'|trans|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
