{% form_theme form 'FidesMainBundle:Form:form_layout.html.twig' %} 

<form action="{{ path('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit" enctype="multipart/form-data">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>