{% form_theme form 'FidesAdminBundle:Form:form_layout.html.twig' %}
{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'seance.new.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_seance_new', {'id': session.id}) }}" method="POST" onSubmit="addSeance($(this));return false;" class="form-horizontal" novalidate>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.startAt) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                format:'YYYY-MM-DD HH:mm',
                                icons: {
                                    time: 'fa fa-clock-o',
                                    date: 'fa fa-calendar',
                                    up: 'fa fa-chevron-up',
                                    down: 'fa fa-chevron-down',
                                    previous: 'fa fa-chevron-left',
                                    next: 'fa fa-chevron-right',
                                    today: 'fa fa-screenshot',
                                    clear: 'fa fa-trash',
                                    close: 'fa fa-remove'
                                }}">
                                {{ form_widget(form.startAt, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(form.endAt) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                format:'YYYY-MM-DD HH:mm',
                                icons: {
                                    time: 'fa fa-clock-o',
                                    date: 'fa fa-calendar',
                                    up: 'fa fa-chevron-up',
                                    down: 'fa fa-chevron-down',
                                    previous: 'fa fa-chevron-left',
                                    next: 'fa fa-chevron-right',
                                    today: 'fa fa-screenshot',
                                    clear: 'fa fa-trash',
                                    close: 'fa fa-remove'
                                }}">
                                {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.title) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.title) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.description) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'seance.new.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'seance.new.submit'|trans }}</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>