{% set showUrl = path('former_seance_show', {id: seance.id}) %}
{% set videoUrl = path('former_seance_rt', {id: seance.id}) %}
{{ seance.startAt|date('H:i') }} - {{ seance.endAt|date('H:i') }} <div class='pull-right'><a href='{{ videoUrl }}' target='_blank'><i class='fa fa-video-camera'></i></a> | <a url='{{ showUrl }}' onClick='showSeance($(this));'><i class='fa fa-eye'></i></a></div>{% if seance.title %}<br/>{{ seance.title }}{% endif %}{% if seance.description %}<br/><small>{{ seance.description|slice(0, 50) }}..</small>{% endif %}