{% form_theme edit_form 'FidesAdminBundle:Form:form_layout.html.twig' %}
{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'formation.edit.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_formation_edit', {id: formation.id }) }}" method="POST" onSubmit="updateItem($(this));return false;" class="form-horizontal">
                <div class="modal-body">
                    {{ form_widget(edit_form) }}
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'formation.edit.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'formation.edit.submit'|trans }}</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>