{% extends 'base.html.twig' %}

{% block body %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-4">
                <div class="box min-h-500">
                    <div class="p-a-md primary p-y-lg red-background-color">
                        <h1 class="l-s-n-2x">
                            {{ formation.title }}
                        </h1>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Titre</th>
                            </tr>
                            <tr>
                                <td>{{ formation.title }}</td>
                            </tr>
                            <tr>
                                <th>Descritpion</th>
                            </tr>
                            <tr>
                                <td>{{ formation.description }}</td>
                            </tr>

                    </table>

                </div>
            </div>

            <div class="col-sm-8">
                <div class="box min-h-500">
                    <div class="p-a-md primary p-y-lg red-background-color">
                        <h1 class="l-s-n-2x">
                            Sessions
                        </h1>
                    </div>
                    <div class="table-responsive">
                        {% set languageUrl = asset('js/fides/data/fr.json') %}
                        <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Formateur</th>
                                    <th>Inscrits</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                {% for session in formation.sessions %}
                                    {% include "FidesAdminBundle:Formation:session_item.html.twig" %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
