{% set deleteUrl = path('admin_formation_delete', {id: formation.id}) %}
{% set showUrl = path('admin_formation_show', {id: formation.id}) %}
{% set editFormUrl = path('admin_formation_edit_form', {id: formation.id}) %}

<td>{{ formation.title }}</td>
<td class="text-justify">{{ formation.description|slice(0, 200) }}..</td>
<td>
    <ul>
        {% for session in formation.sessions %}
            {% set showSessionUrl = path('admin_session_show', {id: session.id}) %}
            <li>
                <a href="{{ showSessionUrl }}" class="text-info">{{ session.startAt|date('d-m-Y') }} | {{ session.endAt|date('d-m-Y') }}</a>
                <br>
                Formateur : {{ session.former }}
                <br>
                Inscriptions : {{ session.users|length }}
            </li>
        {% endfor %}
    </ul>
</td>

<td>
    <ul class="ul-list">
        <li>
            <a url="{{ editFormUrl }}" onClick="getForm($(this));">
                <i class="fa fa-pencil-square-o"></i> Modifier
            </a>
        </li>
        <li>
            <a href="{{ showUrl }}">
                <i class="fa fa-eye"></i> Détails
            </a>
        </li>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this), '', 'Attention si vous supprimez la formation, vous supprimez également les sessions, les séances, les cours et l\'historique de paiement lié à cette formation !');">
                <i class="fa fa-trash-o"></i> Supprimer
            </a>
        </li>
    </ul>
</td>