{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <h3><b class="padding-5-10 red-background-color gray-color">Mon emploi</b></h3>
                        </div>
                        <div id="calendar"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <div class="box-header">
                            <span class="label pull-right padding-10-15 red-background-color">{{ app.user.formations|length }}</span>
                            <h3><b class="padding-5-10 red-background-color gray-color">Mes formations</b></h3>
                        </div>
                        <div class="table-responsive">
                            {% set languageUrl = asset('js/fides/data/fr.json') %}
                            <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                                <thead>
                                    <tr>
                                        <th>Formation</th>
                                        <th>Session</th>
                                        <th>Étudiants</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in app.user.formations %}
                                        <tr>
                                            <td>{{ session.formation }}</td>
                                            <td>
                                                {{ session.startAt|date('d-m-Y') }}<br>
                                                {{ session.endAt|date('d-m-Y') }}
                                            </td>
                                            <td>
                                                {% set showFormerUrl = path('admin_user_show', {id: session.former.id}) %}
                                                <div class="sl-item">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('uploads/users/') ~ session.former.path }}" class="img-circle w-32">
                                                    </div>
                                                    <div class="sl-content pull-left">
                                                        <a href="{{ showFormerUrl }}" class="text-info">{{ session.former.name }}</a>
                                                        <div>
                                                            <i class="fa fa-phone-square"></i> {{ session.former.mobile }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <a href="{{ path('former_session_show', {id: session.id}) }}" class="btn btn-sm white" data-toggle="tooltip">
                                                    <i class="fa fa-eye"></i> Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var events = [];

        {% for session in sessions %}
            {% for seance in session.seances %}
            var event = {
                id: "{{ seance.id }}",
                title: "{{ seance.title }}",
                start: "{{ seance.startAt|date('Y-m-d\\TH:i:s') }}",
                end: "{{ seance.endAt|date('Y-m-d\\TH:i:s') }}",
                html: "{{ render(controller('FidesFormerBundle:Seance:showItem', {'id': seance.id})) }}"
            };

            events.push(event);
            {% endfor %}
        {% endfor %}
    </script>
    <script src="{{ asset('js/calendar/lib/moment.min.js') }}"></script>
    <script src="{{ asset('js/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/calendar/calendar-former.js') }}"></script>
    <script src="{{ asset('js/calendar/locale/fr.js') }}"></script>
{% endblock %}
