{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesAdminBundle' %}

{% block title %}{{ 'course.index.title'|trans }}{% endblock title %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="box-header">
                <div class="label pull-right">
                    {% set newFormUrl = path('former_course_new') %}
                    <a href="{{ newFormUrl }}" class="btn btn-sm blue gray-background-color pull-right no-border">
                        <i class="fa fa-plus fa-fw m-r-xs"></i> 
                        <span class="hidden-sm-down">{{ 'course.new.submit'|trans }}</span>
                    </a>
                </div>
                <h3><b class="padding-5-10 red-background-color gray-color">{{ 'course.index.title'|trans }}</b></h3>
            </div>
            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th>Cours</th>
                            <th>Formation</th>
                            <th>Description</th>
                            <th>Fichiers (PDF)</th>
                            <th>Fichiers (PPT)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="items">
                        {% for course in courses %}
                            {% include "FidesFormerBundle:Course:item.html.twig" %}
                        {% endfor %}
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
