<!-- aside -->
<div id="aside" class="app-aside box-shadow-z3 modal fade lg nav-expand">
    <div class="left navside white dk" layout="column">
        <div class="navbar navbar-md info no-radius box-shadow-z4">
            <!-- brand -->
            <a class="navbar-brand">
                <div ui-include="'{{ asset('assets/images/logo.white.svg') }}'"></div>
                <img src="{{ asset('assets/images/logo.png') }}" alt="." class="hide">
                <span class="hidden-folded inline">FIDES</span>
            </a>
            <!-- / brand -->
        </div>
        <div flex class="hide-scroll">
            <nav class="scroll">
                <div class="item">
                    <div class="item-bg hidden-folded">
                        <img src="{{ asset('uploads/users/' ~ app.user.path) }}" class="opacity-3">
                    </div>
                    <div class="pos-rlt">
                        <div class="nav-fold">
                            <a href="#">
                                <span class="pull-right m-v-sm hidden-folded">
                                    <b class="label rounded success">9</b>
                                </span>
                                <span class="block">
                                    <img src="{{ asset('uploads/users/' ~ app.user.path) }}" alt="..." class="w-40 img-circle">
                                </span>
                                <span class="clear hidden-folded m-t-sm">
                                    <span class="block _500">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                    <small class="block text-muted">{{ app.user.roles|role }}</small>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="nav" ui-nav>

                    <li>
                        <a href="{{ path('fides_main_homepage') }}" >
                            <span class="nav-icon">
                                <i class="material-icons">&#xe3fc;
                                    <span ui-include="'{{ asset('assets/images/i_0.svg') }}'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('admin_user_index') }}">
                            <span class="nav-icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span class="nav-text">Utilisateurs</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{ path('admin_formation_index') }}">
                            <span class="nav-icon">
                                <i class="material-icons">&#xe5c3;
                                    <span ui-include="'{{ asset('assets/images/i_1.svg') }}'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Formation</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('admin_course_index') }}">
                            <span class="nav-icon">
                                <i class="material-icons">&#xe8f0;
                                    <span ui-include="'{{ asset('assets/images/i_2.svg') }}'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Cours</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="nav-icon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <span class="nav-caret">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <span class="nav-label">
                                <b class="label rounded label-sm primary">5</b>
                            </span>
                            <span class="nav-text">Messages</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="{{ path('message_index') }}" >
                                    <span class="nav-icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                    <span class="nav-text">Ecrire un message</span>
                                </a>
                            </li>
                           
                            <li>
                                <a href="{{ path('message_index') }}" >
                                    <span class="nav-icon">
                                        <i class="fa fa-inbox"></i>
                                    </span>
                                    <span class="nav-text">Boite de Réception</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('message_index') }}">
                                    <span class="nav-icon">
                                        <i class="fa fa-send-o"></i>
                                    </span>
                                    <span class="nav-text">Envoyes</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('message_index') }}" >
                                    <span class="nav-icon">
                                        <i class="fa fa-files-o"></i>
                                    </span>
                                    <span class="nav-text">Brouillons</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ path('fides_main_calendar') }}">
                            <span class="nav-icon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <span class="nav-text">Emplois</span>
                        </a>

                    </li>

                </ul>
            </nav>
        </div>
        <div flex-no-shrink>
            <nav ui-nav>
                <ul class="nav">
                    <li class="no-bg">
                        <a href="{{ path('fos_user_security_logout') }}">
                            <span class="nav-icon">
                                <i class="material-icons">&#xe8ac;</i>
                            </span>
                            <span class="nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- / aside -->
