<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FIDES{% endblock %}</title>
        <meta name="description" content="Admin" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- for ios 7 style, multi-resolution icon of 152x152 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
        <link rel="apple-touch-icon" href="{{ asset('assets/images/logo.png') }}">
        <meta name="apple-mobile-web-app-title" content="Flatkit">
        <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
        <meta name="mobile-web-app-capable" content="yes">

        {% block stylesheets %}
            <!-- style -->
            {% stylesheets
                'assets/animate.css/animate.min.css'
                'assets/glyphicons/glyphicons.css'
                'assets/font-awesome/css/font-awesome.min.css'
                'assets/material-design-icons/material-design-icons.css'
                'assets/bootstrap/dist/css/bootstrap.min.css'
                'css/select2.min.css'
                'assets/styles/app.min.css'
                'assets/styles/font.css'
                'css/main.css'
                'css/chat.css'
                filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="framed">
        <div class="app wrapper" id="app">
            <!-- LAYOUT START -->

            <!-- content -->
            <div id="content" class="app-content box-shadow-z3" role="main">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {% include "::header_admin.html.twig" %}
                {% elseif is_granted('ROLE_FORMER') %}
                    {% include "::header_former.html.twig" %}
                {% else %}
                    {% include "::header_student.html.twig" %}
                {% endif %}

                <div class="app-body" id="view">

                    <!-- PAGE START -->
                    {% block body %}

                    {% endblock %}
                    <!-- PAGE END -->
                    {% if app.user %}
{#                        {{ render(controller('FidesMainBundle:Default:chat')) }}#}
                    {% endif %}
                </div>

                {% include "::footer.html.twig" %}
                </div>
            <!-- / -->

            {# {% include "::switcher.html.twig" %} #}
            <!-- LAYOUT END -->
        </div>

        {% block javascripts %}
            <!-- build:js scripts/app.html.js -->
            {% javascripts
                'assets/libs/jquery/jquery/dist/jquery.js'
                'assets/libs/jquery/tether/dist/js/tether.min.js'
                'assets/libs/jquery/bootstrap/dist/js/bootstrap.js'
                'assets/libs/jquery/underscore/underscore-min.js'
                'assets/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js'
                'assets/libs/jquery/PACE/pace.min.js'
                'assets/scripts/config.lazyload.js'

                'assets/scripts/palette.js'
                'assets/scripts/ui-load.js'
                'assets/scripts/ui-jp.js'
                'assets/scripts/ui-include.js'
                'assets/scripts/ui-device.js'
                'assets/scripts/ui-form.js'
                'assets/scripts/ui-nav.js'
                'assets/scripts/ui-screenfull.js'
                'assets/scripts/ui-scroll-to.js'
                'assets/scripts/ui-toggle-class.js'

                'assets/scripts/app.js'
                'assets/libs/jquery/jquery-pjax/jquery.pjax.js'
                'assets/scripts/ajax.js'
                'js/sweetalert.min.js'
                'js/bootstrap-notify.min.js'
                'js/select2.full.min.js'
                'bundles/bazingajstranslation/js/translator.min.js'
                'js/translations/config.js'
                'js/translations/*/*.js'
                'js/fides/main.js'
                output='js/compiled/app.js' 
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('js/fides/chat.js') }}"></script>
            <!-- endbuild -->
        {% endblock %}
    </body>
</html>
