<div class="col-sm-4 col-md-3 light bg b-r chat-box-list">
    <div class="row-col">
        <div class="p-a-xs b-b">
            <div class="input-group">
                <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control no-border no-bg" placeholder="Search all contacts">
            </div>
        </div>
        <div class="row-row">
            <div class="row-body scrollable hover">
                <div class="row-inner">
                    <div id="selectUser" class="list inset">
                        {% for user in users if user.id != currentUser.id %}
                        <a href="" onclick="return false;" data-number="{{ user.id }}" class="changeUser" >
                            <div class="list-item pointer">
                                <div class="list-left">
                                    <span class="w-40 avatar">
                                        <img src="{{ asset('uploads/users/') ~ user.path }}" class="img-circle">
                                    </span>
                                </div>
                                <div class="list-body">
                                    {{ user.name }}
                                    <small class="block"><i class="fa fa-phone m-r-sm text-muted"></i>{{ user.mobile }}</small>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="p-a b-t text-center">
            <a href="" class="btn btn-sm white btn-addon"><i class="fa fa-plus fa-fw m-r-xs"></i> New Contact</a>
        </div>
    </div>
</div>


<div class="box row-col chat-box">
    <div class="box-header b-b">
        <strong id="user-name">Chat</strong>
    </div>
    <div class="row-row dker">
        <div class="row-body">
            <div id="belousovChat" data-author="{{ currentUser.id }}" data-addressee="" class="row-inner">
                <div id="belousovMessageZone" class="p-a-md">
                    
                </div>
            </div>
        </div>
    </div>
    <div id="belousovFormZone" class="box-footer b-t">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                    <button id="chat_go" class="btn white b-a no-shadow belousovSendMessage" type="button">SEND</button>
                </span>
            </div>
        </form>
    </div>
</div>