<div class="white r box-shadow-z0 p-md radius-0">
    <div class="footer p-a p-x-md">
        <div class="row">
            <div class="col-md-3">
                <div class="clearfix">
                    <a class="navbar-brand">
                        <img src="{{ asset('images/logo.png') }}" class="logo"/> 
                    </a>
                </div>
                <div class="m-v-md">
                  <p class="text-muted text-justify">
                    
                  </p>
                </div>
            </div>
            <div class="col-md-6 text-accent-hover">
                <div class="row m-t-md">
                    <div class="col-sm-4">
                        <h6 class="text-u-c m-b">TWN</h6>
                        <div class="m-b-md">
                            <ul class="nav l-h-2x">
                                <li class="nav-item">
                                    <a class="nav-link" href>Formations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Équipes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="text-u-c m-b">Blog</h6>
                        <div class="m-b-md">
                            <ul class="nav l-h-2x">
                                <li class="nav-item">
                                    <a class="nav-link" href>Life style</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Fashion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Travel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="text-u-c m-b">A propos</h6>
                        <div class="m-b-md">
                            <ul class="nav l-h-2x">
                                <li class="nav-item">
                                    <a class="nav-link" href>Company</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href>Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="text-u-c m-b m-t-md">S'inscrire</h6>
                <p>Vous ne voulez pas manquer nos newsletters?</p>
                <form class="m-b-lg">
                    <input type="text" class="form-control" placeholder="Votre email">
                    <button type="submit" class="btn btn-accent m-t">S'inscrire</button>
                </form>
            </div>
        </div>
        <div class="b b-b m-b m-t-lg"></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="clearfix">
                    <a href class="btn btn-icon btn-social btn-sm white">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                    </a>
                    <a href class="btn btn-icon btn-social btn-sm white">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter blue"></i>
                    </a>
                    <a href class="btn btn-icon btn-social btn-sm white">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus red"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-sm-right text-xs-left">
                    <small class="text-muted">&copy; Copyright 2018. All rights reserved.</small>
                </div>
            </div>
        </div>
    </div>

</div>