<div class="white r box-shadow-z0 m-b navbar-md app-header radius-0 header-navbar">
    <div class="navbar"><a data-toggle="collapse" data-target="#navbar-3" class="navbar-item pull-right hidden-md-up m-a-0 m-l"><i class="material-icons"></i></a>
        <a class="navbar-brand">
            <img src="{{ asset('images/logo.png') }}" class="logo"/> 
        </a>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown pos-stc-xs">
                <a class="nav-link" href="" data-toggle="dropdown">
                    <i class="material-icons"></i> 
                    <span class="label label-sm up warn red-background-color">0</span>
                </a>
                <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
                    <div class="scrollable" style="max-height: 220px">
                        <ul class="list-group list-group-gap m-a-0">
                            {% for i in 0..2 %}
                                <li class="list-group-item black lt box-shadow-z0 b">
                                    <span class="pull-left m-r">
                                        <img src="{{ asset('assets/images/a') ~ i ~ '.jpg' }}" alt="..." class="w-40 img-circle">
                                    </span>
                                    <span class="clear block">
                                        Use awesome <a href class="text-primary">animate.css</a><br>
                                        <small class="text-muted">10 minutes ago</small>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle clear" data-toggle="dropdown" aria-expanded="false">
                    <span class="hidden-md-down nav-text m-r-sm text-right">
                        <span class="block l-h-1x _500">{{ app.user.name }}</span> 
                        <small class="block l-h-1x text-muted">
                            <i class="material-icons text-md"></i> {{ app.user.roles|role }}
                        </small>
                    </span> 
                    <span class="avatar w-32">
                        <img src="{{ asset('uploads/users/') ~ app.user.path }}" alt=""> 
                        <i class="on b-white left"></i>
                    </span>
                </a>

                <div class="dropdown-menu pull-right dropdown-menu-scale">
                    <a class="dropdown-item" href="{{ path('fos_message_inbox') }}">
                        <span>{{ 'header.admin.messages'|trans }}</span>
                        <span class="label warn m-l-xs red-background-color">
                            {{ render(controller('FidesUserBundle:Message:unreadMessages')) }}
                        </span>
                    </a>
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                        <span>{{ 'header.admin.profile'|trans }}</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">
                        <span>{{ 'header.admin.settings'|trans }}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'header.admin.logout'|trans }}</a>
                </div>
            </li>
        </ul>
        <div class="collapse navbar-toggleable-sm" id="navbar-3">
            <form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">
                <div class="form-group l-h m-a-0">
                    <div class="input-group">
                        <input type="text" class="form-control b-a form-control-sm" placeholder="{{ 'header.admin.search'|trans }}""> <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-default b-a no-shadow"><i class="fa fa-search"></i></button></span></div>
                </div>
            </form>
            <ul class="nav navbar-nav nav-active-border">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fides_main_homepage') }}">
                        <span>Accueil</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('former_session_index') }}">
                        <span>Sessions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('former_course_index') }}">
                        <span>Cours</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_reclamation_index') }}">
                        <span>Réclamations</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Messages</span>
                        <span class="label warn m-l-xs red-background-color">
                            {{ render(controller('FidesUserBundle:Message:unreadMessages')) }}
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-scale text-color text-bold" role="menu">
                        <a class="dropdown-item" href="{{ path('fos_message_inbox') }}">
                            <span>Boite de Réception</span>
                            <span class="label warn m-l-xs red-background-color">
                                {{ render(controller('FidesUserBundle:Message:unreadMessages')) }}
                            </span>
                        </a>
                        <a class="dropdown-item" href="{{ path('fos_message_sent') }}">Messages envoyées</a>
                        <a class="dropdown-item" href="{{ path('fos_message_deleted') }}">Brouillons</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('fos_message_thread_new') }}">Nouveau message</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>