{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate user-modal" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'attachment.edit.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_attachment_edit', {id: attachment.id }) }}" method="POST" onSubmit="updateItemMultipart(this);return false;" class="form-horizontal user-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-3">
                            {{ form_label(form.file) }}
                        </div>
                        <div class="form-group col-sm-9">
                            {{ form_widget(form.file) }}
                            {{ form_errors(form.file) }}
                        </div>
                    </div>
                    
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'attachment.edit.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'attachment.edit.submit'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>