{% set newFormUrl = path('admin_attachment_new_form', {id: course.id}) %}

<a url="{{ newFormUrl }}" onClick="getForm($(this))" class="btn btn-sm white" data-toggle="tooltip">
    <i class="fa fa-plus-square-o"></i>
</a>

<div class="table-responsive box">
    <table class="table table-striped white">
        <thead>
            <tr>
                <th>Type</th>
                <th>File Name</th>
                <th>File Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="attachments">
            {% for attachment in attachments %}
                {% include "FidesStudentBundle:Attachment:item.html.twig" %}
            {% endfor %}
        </tbody>
    </table>
</div>