{% set showUrl = path('admin_attachment_show', {id: attachment.id}) %}
{% set deleteUrl = path('admin_attachment_delete', {id: attachment.id}) %}
{% set editFormUrl = path('admin_attachment_edit_form', {id: attachment.id}) %}

<td>{{ attachment.type }}</td>
<td>{{ attachment.originalName }}</td>
<td>{{ (attachment.size / 1024)|number_format(2, '.') }} Ko</td>
<td>
    <button class="btn btn-sm white" data-toggle="tooltip" url="{{ showUrl }}" onClick="showAttachment($(this));">
        <i class="fa fa-eye"></i>
    </button>
</td>