{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesUserBundle' %}

{% block title %}Admin | {{ user.name }}{% endblock title %}

{% block body %}
    <div class="white min-h-800">
        <div class="item">
            <div class="item-bg">
                <img src="{{ asset('assets/images/a1.jpg') }}" class="blur opacity-3">
            </div>
            <div class="p-a-md">
                <div class="row m-t">
                    <div class="col-sm-7">
                        <a href class="pull-left m-r-md">
                            <span class="avatar w-96">
                                <img src="{{ asset('uploads/users/') ~ user.path }}">
                                <i class="on b-white"></i>
                            </span>
                        </a>
                        <div class="clear m-b">
                            <h3 class="m-a-0 m-b-xs">{{ user.firstname }} {{ user.lastname }}</h3>
                            <div><small><i class="fa fa-user m-r-xs"></i></small><span class="m-r">{{ user.roles|role }}</span></div>
                            <div><small><i class="fa fa-map-marker m-r-xs"></i></small><span class="m-r">{{ user.address }}</span></div>
                            <div><small><i class="fa fa-phone-square m-r-xs"></i></small><span class="m-r">{{ user.mobile }}</span></div>
                            <div><small><i class="fa fa-birthday-cake m-r-xs"></i></small><span class="m-r">{{ user.birthday|date('d/m/Y') }}</span></div>
                            <div><small><i class="fa fa-credit-card m-r-xs"></i></small><span class="m-r">{{ user.cin }}</span></div>
                            <div class="block clearfix m-b">
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook indigo"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter light-blue"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-google-plus"></i>
                                    <i class="fa fa-google-plus red"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin cyan-600"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dker p-x">
            <div class="row">
                <div class="col-sm-6 push-sm-6">
                    <div class="p-y text-center text-sm-right">
                        <a href class="inline p-x text-center">
                            <span class="h4 block m-a-0">2</span>
                            <small class="text-xs text-muted">Formations</small>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 pull-sm-6">
                    <div class="p-y-md clearfix nav-active-primary">
                        <ul class="nav nav-pills nav-sm">
                            <li class="nav-item active">
                                <a class="nav-link" href data-toggle="tab" data-target="#tab_1">Paiements</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="tab-content">      
                        <div class="tab-pane p-v-sm active" id="tab_1">
                            {% include "FidesAdminBundle:Payment:show_payment.html.twig" %}
                        </div>
                    </div>
                </div>
                {#<div class="col-sm-4 col-lg-3">

                </div>#}
            </div>
        </div>
    </div>

{% endblock %}
