{% set deleteUrl = path('admin_user_delete', {id: user.id}) %}
{% set editFormUrl = path('admin_user_edit_form', {id: user.id}) %}
{% set showUrl = path('admin_user_show', {id: user.id}) %}
{% set enableUrl = path('admin_user_enable', {id: user.id}) %}

<td>
    <div class="sl-item">
        <div class="pull-left">
            <img src="{{ asset('uploads/users/') ~ user.path }}" class="img-circle w-56">
        </div>
        <div class="sl-content pull-left">
            <a href="{{ showUrl }}" class="text-info">{{ user.name }}</a> [{{ user.roles|role }}]
            <div>
                dernière connexion : <br/>{{ user.lastLogin|date('Y-m-d H:i') }}
            </div>
        </div>
    </div>
</td>
<td>
    <i class="fa fa-envelope"></i> {{ user.email }}
    <br>
    <i class="fa fa-phone-square"></i> {{ user.mobile }}
</td>
<td>
    <ul class="ul-list">
    {% for session in user.sessions %}
        <li>
            <a href="{{ path('admin_session_show', {id: session.id}) }}">
                <i class="fa fa-eye"></i> {{ session.formation }} [{{ session.startAt|date('d-m-Y') }} / {{ session.endAt|date('d-m-Y') }}]
            </a>
        </li>
    {% endfor %}
    </ul>
</td>
<td>
    <label class="ui-switch m-t-xs m-r">
        <input onChange="enableUser($(this), '{{ enableUrl }}')" type="checkbox" class="has-value" {% if user.enabled %}CHECKED{% endif %}/>
        <i></i>
    </label>
</td>
<td>
    <ul class="ul-list">
        <li>
            <a url="{{ editFormUrl }}" onClick="getForm($(this));">
                <i class="fa fa-pencil-square-o"></i> Modifier
            </a>
        </li>
        <li>
            <a href="{{ showUrl }}">
                <i class="fa fa-eye"></i> Détails
            </a>
        </li>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this));">
                <i class="fa fa-trash-o"></i> Supprimer
            </a>
        </li>
    </ul>
</td>