{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesMainBundle' %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="box-header">
                <h3><b class="padding-5-10 red-background-color gray-color">{{ 'reclamation.index.title'|trans }}</b></h3>
            </div>
            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>

                        <tr>
                            <th>Utilisateur</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Crée le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reclamation in reclamations %}
                            {% include "FidesAdminBundle:Reclamation:item.html.twig" %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
