{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesMainBundle' %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="box-header">
                <h3><b class="padding-5-10 red-background-color gray-color">{{ reclamation.title }}s</b></h3>
            </div>
            <div class="table-responsive">

                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ reclamation.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ reclamation.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ reclamation.description }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ reclamation.status }}</td>
                        </tr>
                        <tr>
                            <th>Createdat</th>
                            <td>{% if reclamation.createdAt %}{{ reclamation.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Updatedat</th>
                            <td>{% if reclamation.updatedAt %}{{ reclamation.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <ul>
                    <li>
                        <a href="{{ path('admin_reclamation_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_reclamation_edit', { 'id': reclamation.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
