{% set deleteUrl = path('admin_reclamation_delete', {id: reclamation.id}) %}
{% set editUrl = path('admin_reclamation_edit', {id: reclamation.id}) %}
{% set showUrl = path('admin_user_show', {id: reclamation.user.id}) %}

<td>
    <div class="sl-item">
        <div class="pull-left">
            <img src="{{ asset('uploads/users/') ~ reclamation.user.path }}" class="img-circle w-56">
        </div>
        <div class="sl-content pull-left">
            <a href="{{ showUrl }}" class="text-info">{{ reclamation.user.name }}</a>
            <div>
                {{ reclamation.user.email }}
            </div>
            <div>
                {{ reclamation.user.mobile }}
            </div>
        </div>
    </div>
</td>
<td><a href="{{ path('admin_reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.title }}</a></td>
<td>{{ reclamation.description }}</td>
<td>
    <label class="ui-switch m-t-xs m-r">
        <input onChange="enableReclamation($(this), '{{ editUrl }}')" type="checkbox" class="has-value" {% if reclamation.status == 1 %}CHECKED{% endif %}/>
        <i></i>
    </label> (En cours de traitement / Traité)

</td>
<td>{% if reclamation.createdAt %}{{ reclamation.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
<td>
    <ul>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this));">
                <i class="fa fa-trash-o"></i> Supprimer
            </a>
        </li>
    </ul>
</td>
