<object id="pdf-data" data="{{ asset('uploads/courses/' ~ attachment.path) }}" type="application/{{ attachment.type }}">
    <embed src="{{ asset('uploads/courses/' ~ attachment.path) }}" type="application/{{ attachment.type }}" />
</object>
