{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/webrtc/main.css') }}" />
    {#<script src="{{ asset('js/fides/screen-capturing.js') }}"></script>
    <script src="{{ asset('js/fides/adapter-latest.js') }}"></script>#}

{% endblock %}

{% block body %}
    <div class="padding">
        <div class="row">
            <div class="box col-sm-12">
                <div class="box-header">
                    <h3><b class="padding-5-10 red-background-color gray-color">Visioconférence</b></h3>
                </div>
                
                <div id="formerVideo" class="col-sm-6">
                    {% if app.user.id == seance.session.former.id %}
                        <div class="videoContainer">
                            <video id="localVideo"></video>
                            <div id="localVolume" class="volume_bar"></div>
                        </div>
                        <div class="user-actions">
                            <div class="current-user-name text-center">{{ app.user.name }} [F]</div>
                            <div class="current-user-actions">
{#                                <button id="getUserMedia" class="btn btn-sm btn-primary">Partage d'ecran</button>#}
                                <button id="screenShareButton" class="btn btn-sm btn-primary">Partage d'ecran</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4" id="interactive-table">
                    <div class="box min-h-500">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="spreadsheet-message" type="text" class="form-control">
                                <a class="input-group-addon" onclick="sendMessage()">
                                    <span class="fa fa-send-o"></span>
                                </a>
                            </div>
                        </div>
                        <div id="spreadsheet" class="box-body">
                        </div>
                    </div>
                </div>
                <div id="remotes" class="col-sm-2">
                    {% if app.user.id != seance.session.former.id %}
                        <div class="videoContainer">
                            <video id="localVideo"></video>
                            <div id="localVolume" class="volume_bar"></div>
                        </div>
                        <div class="user-actions">
                            <div class="current-user-name text-center">{{ app.user.name }}</div>
                            <div class="current-user-actions">

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>    
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var room = "{{ seance.token }}";
        var currentUser = "{{ app.user.id }}";
        var currentUserName = "{{ app.user.name }}";
        var currentUserType = "user";
        {% if app.user.id == seance.session.former.id %}
            currentUserName = currentUserName + " [F]";
            currentUserType = "former";
        {% endif %}
/*
            document.querySelector('#getUserMedia').onclick = function () {
                this.disabled = true;
                getScreenConstraints(function (error, screen_constraints) {
                    if (error) {
                        return alert(error);
                    }

                    if (screen_constraints.canRequestAudioTrack) {
                        // you can capture speakers
                        // getUserMedia({audio:screen_constraints})
                    }

                    navigator.mediaDevices.getUserMedia({
                        video: screen_constraints
                    }).then(function (stream) {
                        var video = document.querySelector('video');
                        video.src = URL.createObjectURL(stream);
                        video.play();
                    }).catch(function (error) {
                        console.log(error);
                    });
                });
            };
            */
    </script>
    <script src="{{ asset('js/webrtc/webrtc.js') }}"></script>
    <script src="{{ asset('js/webrtc/main.js') }}"></script>
{% endblock %}
