{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesAdminBundle' %}

{% block title %}Admin | {{ 'course.index.title'|trans }}{% endblock title %}

{% block body %}
    <div class="padding">
        <div class="box min-h-800">
            {% set newFormUrl = path('admin_course_new') %}
            <div class="p-a-md primary p-y-lg red-background-color">
                <h1 class="display-3 _500 l-s-n-2x">
                    {{ 'course.index.title'|trans }}
                    <a href="{{ newFormUrl }}" class="btn btn-sm blue gray-background-color pull-right no-border">
                        <i class="fa fa-plus fa-fw m-r-xs"></i> 
                        <span class="hidden-sm-down">{{ 'course.new.submit'|trans }}</span>
                    </a>
                </h1>
            </div>
            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th>Cours</th>
                            <th>Formation</th>
                            <th>Description</th>
                            <th>Fichiers (PDF)</th>
                            <th>Fichiers (PPT)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="items">
                        {% for course in courses %}
                            {% include "FidesAdminBundle:Course:item.html.twig" %}
                        {% endfor %}
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
