{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesAdminBundle' %}

{% block title %}Admin | {{ 'course.new.title'|trans }}{% endblock title %}

{% block body %}
    <div class="padding"> 
        <div class="box min-h-800">
            <div class="p-a-md primary p-y-lg red-background-color">
                <h1 class="display-3 _500 l-s-n-2x">
                    {{ 'course.new.title'|trans }}
                </h1>
            </div>
            <div class="table-responsive">
                <form action="{{ path('admin_course_new') }}" method="POST" class="form-horizontal user-form" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="form-group col-sm-3">
                            {{ form_label(form.title) }}
                        </div>
                        <div class="form-group col-sm-9">
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-3">
                            {{ form_label(form.session) }}
                        </div>
                        <div class="form-group col-sm-9">
                            {{ form_widget(form.session) }}
                            {{ form_errors(form.session) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-3">
                            {{ form_label(form.description) }}
                        </div>
                        <div class="form-group col-sm-9">
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-3">
                            {{ form_label(form.attachments) }}
                        </div>
                        <div class="form-group col-sm-9">
                            <ul class="attachments" data-prototype="{{ form_widget(form.attachments.vars.prototype)|e('html_attr') }}">
                                {#<li>
                                    <a id="add-attachment" class="btn btn-sm blue">
                                        <i class="fa fa-plus fa-fw m-r-xs"></i>
                                        <span class="hidden-sm-down">Ajouter</span>
                                    </a>
                                </li>#}
                                {% for attachment in form.attachments %}
                                    <li>{{ form_widget(attachment.file) }}</li>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_widget(form._token) }}
                        <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'course.new.submit'|trans }}</button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $collectionHolder;

        var $addTagLink = $('<a class="btn btn-sm blue"><i class="fa fa-plus fa-fw m-r-xs"></i><span class="hidden-sm-down">Ajouter</span></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.attachments');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });


        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);

            $newFormLi.append('<a class="btn btn-sm red remove-attachment"><i class="fa fa-trash-o fa-fw m-r-xs"></i><span class="hidden-sm-down">Supprimer</span></a>');
            $newLinkLi.after($newFormLi);

            // handle the removal, just for this example
            $('.remove-attachment').click(function (e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}
