{% if attachment.type == "pdf" %}
<object id="pdf-data" data="{{ asset('uploads/courses/' ~ attachment.path) }}" type="application/{{ attachment.type }}">
    <embed src="{{ asset('uploads/courses/' ~ attachment.path) }}" type="application/{{ attachment.type }}" />
</object>
{% elseif attachment.type == "pptx" %}    
{#    <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=[https://www.your_website/file_name.pptx]' width='100%' height='600px' frameborder='0'>#}
{% endif %}
