<div class="padding">
    <div class="text-center text-danger">
        Aucun fichier !
    </div>
    <div class="text-center">
        <img src="{{ asset('images/file-notfound.png') }}"/>
    </div>
</div>