{% set deleteUrl = path('admin_course_delete', {id: course.id}) %}
{% set showUrl = path('admin_course_show', {id: course.id}) %}
{% set editUrl = path('admin_course_edit', {id: course.id}) %}
{% set editFormUrl = path('admin_course_edit', {id: course.id}) %}

<td>{{ course.title }}</td>
<td>{{ course.session.formation }}</td>
<td>{{ course.description }}</td>
<td>
    {% for attachment in course.attachments if attachment.type == "pdf" %}
    <i class="fa fa-file-pdf-o"></i> {{ course.title }}.{{ attachment.type }} <br/>
    {% else %}
    -
    {% endfor %}
</td>
<td>
    {% for attachment in course.attachments if (attachment.type == "ppt" or attachment.type == "pptx") %}
    <i class="fa fa-file-powerpoint-o"></i> {{ course.title }}.{{ attachment.type }} <br/>
    {% else %}
    -
    {% endfor %}
</td>
<td>
    <ul class="ul-list">
        <li>
            <a href="{{ showUrl }}"><i class="fa fa-eye"></i> Détails</a>
        </li>
        <li>
            <a href="{{ editUrl }}"><i class="fa fa-pencil-square-o"></i> Modifier</a>
        </li>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this));"><i class="fa fa-trash-o"></i> Supprimer</a>
        </li>
    </ul>
</td>