{% extends 'base.html.twig' %}

{% block body %}
  <div class="padding">
    <div class="row m-b">
      <div class="col-sm-4 m-b-sm">
        <button type="button" class="btn btn-sm white" id="todayview">Aujourd'hui</button>
      </div>
      <div class="col-sm-8 text-sm-right">
        <div class="btn-group m-l-xs">
          <button class="btn btn-sm white" id="dayview">Jour</button>
          <button class="btn btn-sm white" id="weekview">Semaine</button>
          <button class="btn btn-sm white" id="monthview">Mois</button>
        </div>
      </div>
    </div>
    <div class="fullcalendar" ui-jp="fullCalendar" ui-options="{
         header: {
         left: 'prev',
         center: 'title',
         right: 'next'
         },
         defaultDate: '2018-03-12',
         editable: false,
         eventLimit: false,
         events: [
         {
         title: 'All Day Event',
         start: '2018-03-01',
         className: ['white']
         },
         {
         title: 'Long Event',
         start: '2018-03-07',
         end: '2018-03-10',
         className: ['danger']
         },
         {
         id: 999,
         title: 'Repeating Event',
         start: '2018-03-09T16:00:00',
         className: ['white']
         },
         {
         id: 999,
         title: 'Repeating Event',
         start: '2018-03-16T16:00:00',
         className: ['green']
         },
         {
         title: 'Conference',
         start: '2018-03-11',
         end: '2018-03-13',
         className: ['white']
         },
         {
         title: 'Meeting',
         start: '2018-03-12T10:30:00',
         end: '2018-03-12T12:30:00',
         className: ['white']
         },
         {
         title: 'Lunch',
         start: '2018-03-12T12:00:00',
         className: ['white']
         },
         {
         title: 'Meeting',
         start: '2018-03-12T14:30:00',
         className: ['white']
         },
         {
         title: 'Happy Hour',
         start: '2018-03-12T17:30:00',
         className: ['white']
         },
         {
         title: 'Dinner',
         start: '2018-03-12T20:00:00',
         className: ['white']
         },
         {
         title: 'Birthday Party',
         start: '2018-03-13T07:00:00',
         className: ['white']
         },
         {
         title: 'Click for Google',
         url: 'http://google.com/',
         start: '2018-03-28',
         className: ['white']
         }
         ]
         }">
    </div>
  </div>

{% endblock %}