{% extends 'base.html.twig' %}

{% block title %}Mes Fromations{% endblock title %}

{% block body %}
    <div class="padding">
        <h6>Mes formations</h6>
        <div class="row m-b">
            {% set colors = ['primary', 'accent', 'warn', 'indigo', 'purple', 'blue'] %}
            {% set colorIndex = 0 %}
            {% for formation in formations %}
                <div class="col-sm-4">
                    <div class="box">
                        <div class="box-header {{ colors[colorIndex] }}">
                            <h3>{{ formation.title }}</h3>
                            <small>{{ formation.title }}</small>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item">Détails</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <p class="m-a-0">{{ formation.description }}</p>
                        </div>
                    </div>
                </div>
                {% set colorIndex = (colorIndex == colors|length -1) ? 0 : colorIndex + 1 %}
            {% endfor %}
        </div>
    </div>

{% endblock %}