{% if is_granted('ROLE_SUPER_ADMIN') %}
    {{ render(controller('FidesAdminBundle:Default:index')) }}
{% elseif is_granted('ROLE_FORMER') %}
    {{ render(controller('FidesFormerBundle:Default:index')) }}
{% else %}
    {{ render(controller('FidesStudentBundle:Default:index')) }}
{% endif %}