<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <span class="label pull-right padding-10-15 red-background-color">{{ app.user.sessions|length }}</span>
                <h3><b class="padding-5-10 red-background-color gray-color">Mes formations</b></h3>
            </div>
            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th>Formation</th>
                            <th>Session</th>
                            <th>Formateur</th>
                            <th>Cours</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in app.user.sessions %}
                            <tr>
                                <td>{{ session.formation }}</td>
                                <td>
                                    {{ session.startAt|date('d-m-Y') }}<br>
                                    {{ session.endAt|date('d-m-Y') }}
                                </td>
                                <td>
                                    {% set showFormerUrl = path('admin_user_show', {id: session.former.id}) %}
                                    <div class="sl-item">
                                        <div class="pull-left">
                                            <img src="{{ asset('uploads/users/') ~ session.former.path }}" class="img-circle w-32">
                                        </div>
                                        <div class="sl-content pull-left">
                                            <a href="{{ showFormerUrl }}" class="text-info">{{ session.former.name }}</a>
                                            <div>
                                                <i class="fa fa-phone-square"></i> {{ session.former.mobile }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Cours
                                </td>


                                <td>
                                    <a href="" class="btn btn-sm white" data-toggle="tooltip">
                                        <i class="fa fa-eye"></i> Details
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
