#remotes {
    float: left;
}
#remotes .user-actions {
    margin-bottom: 5px;
    border-bottom: 1px solid #424242;
}

#remotes .videoContainer {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}

#remotes .videoContainer video {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
    border: 1px solid #424242;
}
#remotes .volume_bar {
    position: absolute;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;
}
#remotes .current-user-name {
    
}
#remotes .current-user-actions {
    
}

#spreadsheet {
    max-height: 400px;
    overflow-y: scroll;
}

#formerVideo .videoContainer {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}

#formerVideo .videoContainer video {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
    border: 1px solid #424242;
}
#formerVideo .volume_bar {
    position: absolute;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;
}
#formerVideo .current-user-name {
    
}
#formerVideo .current-user-actions {
    
}
#interactive-table {
/*    position: fixed;
    right: 15px;
    z-index: 9999;*/
}