{% form_theme form 'FidesMainBundle:Form:form_layout.html.twig' %} 

<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="control-actions">
        <input class="btn btn-danger btn-danger-border" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>