{% extends "::base.html.twig" %}

{% block body %}
    <div class="padding">
        <div class="row min-h-500">
            <div class="col-sm-3 col-lg-2">
                <div class="p-y">
                    <div class="nav-active-border left b-primary">
                        <ul class="nav nav-sm">
                            <li class="nav-item">
                                <a class="nav-link block active" href data-toggle="tab" data-target="#tab-5">Securité</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-lg-10 light lt bg-auto">
                <div class="tab-content pos-rlt">

                    <div class="tab-pane active" id="tab-5">
                        <div class="p-a-md dker _600">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</div>
                        <div class="p-a-md">
                            <div class="clearfix m-b-lg">
                                {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
