{% extends "::base.html.twig" %}

{% block title %}Paramètres{% endblock %}

{% block body %}

    <div class="col-sm-3 col-lg-2">
        <div class="p-y">
            <div class="nav-active-border left b-primary">
                <ul class="nav nav-sm">
                    <li class="nav-item">
                        <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link block" href data-toggle="tab" data-target="#tab-5">Securité</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-lg-10 light lt bg-auto">
        <div class="tab-content pos-rlt">
            <div class="tab-pane active" id="tab-1">
                <div class="p-a-md dker _600">profil</div>
                <form role="form" class="p-a-md col-md-6">
                    
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label class="ui-check">
                            <input type="checkbox"><i class="dark-white"></i> Available for hire
                        </label>
                    </div>
                    <button type="submit" class="btn btn-info m-t">Update</button>
                </form>
            </div>
            
            <div class="tab-pane" id="tab-5">
                <div class="p-a-md dker _600">Security</div>
                <div class="p-a-md">
                    <div class="clearfix m-b-lg">
                        <form role="form" class="col-md-6 p-a-0">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>New Password Again</label>
                                <input type="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-info m-t">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}