{% trans_default_domain 'FidesUserBundle' %}

<div class="modal fade animate user-modal" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'user.edit.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_user_edit', {id: user.id }) }}" method="POST" onSubmit="updateItemMultipart(this);return false;" class="form-horizontal user-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.firstname) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.firstname) }}
                            {{ form_errors(edit_form.firstname) }}
                        </div>
                    
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.lastname) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.lastname) }}
                            {{ form_errors(edit_form.lastname) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.birthday) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.birthday) }}
                            {{ form_errors(edit_form.birthday) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.roles) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.roles) }}
                            {{ form_errors(edit_form.roles) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.username) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.username) }}
                            {{ form_errors(edit_form.username) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.email) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.email) }}
                            {{ form_errors(edit_form.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.plainPassword.first) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.plainPassword.first) }}
                            {{ form_errors(edit_form.plainPassword.first) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.plainPassword.second) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.plainPassword.second) }}
                            {{ form_errors(edit_form.plainPassword.second) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.address) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.address) }}
                            {{ form_errors(edit_form.address) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.mobile) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.mobile) }}
                            {{ form_errors(edit_form.mobile) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.cin) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.cin) }}
                            {{ form_errors(edit_form.cin) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.nationality) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.nationality) }}
                            {{ form_errors(edit_form.nationality) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.image) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(edit_form.image) }}
                            {{ form_errors(edit_form.image) }}
                        </div>
                    </div>
                    {{ form_widget(edit_form._token) }}
                </div>
                
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'user.edit.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'user.edit.submit'|trans }}</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>