{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesUserBundle' %}

{% block title %}Admin | {{ 'user.index.title'|trans }}{% endblock title %}

{% block body %}
    <div class="padding">
        <div class="box min-h-600">
            {% set newFormUrl = path('admin_user_new_form') %}
            <div class="p-a-md primary p-y-lg red-background-color">
                <h1 class="display-3 _500 l-s-n-2x">
                    {{ 'user.index.title'|trans }}
                    <a url="{{ newFormUrl }}" onClick="getForm($(this))" class="btn btn-sm blue gray-background-color pull-right no-border">
                        <i class="fa fa-plus fa-fw m-r-xs"></i> 
                        <span class="hidden-sm-down">{{ 'user.new.submit'|trans }}</span>
                    </a>
                </h1>
            </div>

            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Sessions</th>
                            <th>Active?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="items">
                        {% for user in users if user.id != app.user.id %}
                            {% include "FidesAdminBundle:User:item.html.twig" %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}