{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesUserBundle' %}

{% block title %}Admin | {{ user.name }}{% endblock title %}

{% block body %}
    <div class="white min-h-800">
        <div class="item">
            <div class="item-bg">
                <img src="{{ asset('assets/images/a1.jpg') }}" class="blur opacity-3">
            </div>
            <div class="p-a-md">
                <div class="row m-t">
                    <div class="col-sm-7">
                        <a href class="pull-left m-r-md">
                            <span class="avatar w-96">
                                <img src="{{ asset('uploads/users/') ~ user.path }}">
                                <i class="on b-white"></i>
                            </span>
                        </a>
                        <div class="clear m-b">
                            <h3 class="m-a-0 m-b-xs">{{ user.firstname }} {{ user.lastname }}</h3>
                            <div><small><i class="fa fa-user m-r-xs"></i></small><span class="m-r">{{ user.roles|role }}</span></div>
                            <div><small><i class="fa fa-map-marker m-r-xs"></i></small><span class="m-r">{{ user.address }}</span></div>
                            <div><small><i class="fa fa-phone-square m-r-xs"></i></small><span class="m-r">{{ user.mobile }}</span></div>
                            <div><small><i class="fa fa-birthday-cake m-r-xs"></i></small><span class="m-r">{{ user.birthday|date('d/m/Y') }}</span></div>
                            <div><small><i class="fa fa-credit-card m-r-xs"></i></small><span class="m-r">{{ user.cin }}</span></div>
                            <div class="block clearfix m-b">
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook indigo"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter light-blue"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-google-plus"></i>
                                    <i class="fa fa-google-plus red"></i>
                                </a>
                                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin cyan-600"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dker p-x">
            <div class="row">
                <div class="col-sm-6 push-sm-6">
                    <div class="p-y text-center text-sm-right">
                        <a href class="inline p-x text-center">
                            <span class="h4 block m-a-0">2</span>
                            <small class="text-xs text-muted">Formations</small>
                        </a>
                        <a href class="inline p-x b-l b-r text-center">
                            <span class="h4 block m-a-0">X</span>
                            <small class="text-xs text-muted">Séances</small>
                        </a>
                        <a href class="inline p-x text-center">
                            <span class="h4 block m-a-0">89</span>
                            <small class="text-xs text-muted">Activités</small>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 pull-sm-6">
                    <div class="p-y-md clearfix nav-active-primary">
                        <ul class="nav nav-pills nav-sm">
                            <li class="nav-item active">
                                <a class="nav-link" href data-toggle="tab" data-target="#tab_2">Activités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href data-toggle="tab" data-target="#tab_3">Formations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href data-toggle="tab" data-target="#tab_4">Calendrier</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="tab-content">      
                        <div class="tab-pane p-v-sm active" id="tab_2">
                            <div class="streamline b-l m-b m-l">
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">2 minutes ago</div>
                                        <p>Check your Internet connection</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">9:30</div>
                                        <p>Meeting with tech leader</p>
                                    </div>
                                </div>
                                <div class="sl-item b-success">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">8:30</div>
                                        <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Wed, 25 Mar</div>
                                        <p>Finished task <a href class="text-info">Testing</a>.</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Thu, 10 Mar</div>
                                        <p>Trip to the moon</p>
                                    </div>
                                </div>
                                <div class="sl-item b-info">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Sat, 5 Mar</div>
                                        <p>Prepare for presentation</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Sun, 11 Feb</div>
                                        <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <div class="sl-date text-muted">Thu, 17 Jan</div>
                                        <p>Follow up to close deal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-v-sm" id="tab_3">
                            <div class="row row-sm">
                                {% for i in 0..3 %}
                                    <div class="col-xs-6 col-lg-4">
                                        <div class="list-item box r m-b">
                                            <a herf class="list-left">
                                                <span class="w-40 avatar">
                                                    <img src="{{ asset('assets/images/a') ~ i ~ '.jpg' }}" alt="...">
                                                    <i class="on b-white bottom"></i>
                                                </span>
                                            </a>
                                            <div class="list-body">
                                                <div class="text-ellipsis"><a href>Crystal Guerrero</a></div>
                                                <small class="text-muted text-ellipsis">Designer, Blogger</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane p-v-sm" id="tab_4">
                            <div class="row m-b">
                                <div class="col-xs-6">
                                    <small class="text-muted">Cell Phone</small>
                                    <div class="_500">1243 0303 0333</div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="text-muted">Family Phone</small>
                                    <div class="_500">+32(0) 3003 234 543</div>
                                </div>
                            </div>
                            <div class="row m-b">
                                <div class="col-xs-6">
                                    <small class="text-muted">Reporter</small>
                                    <div class="_500">Coch Jose</div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="text-muted">Manager</small>
                                    <div class="_500">James Richo</div>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Bio</small>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.</div>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="col-sm-4 col-lg-3">

                </div>#}
            </div>
        </div>
    </div>

{% endblock %}
