{% set deleteUrl = path('admin_user_delete', {id: user.id}) %}
{% set editFormUrl = path('admin_user_edit_form', {id: user.id}) %}
{% set showUrl = path('admin_user_show', {id: user.id}) %}

<div class="box text-center">
    <div class="box-tool">
        <ul class="nav">
            <li class="nav-item inline dropdown">
                <a class="nav-link text-muted" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons md-18"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right dark">
                    <a class="dropdown-item" url="{{ editFormUrl }}" onClick="getForm($(this));">Modifier</a>
                    <a href="{{ showUrl }}" class="dropdown-item">Détails</a>
                    <a class="dropdown-item">Message</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" >Désactiver</a>
                    <a class="dropdown-item" url="{{ deleteUrl }}" onClick="deleteItem($(this));">Supprimer</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="p-a-md">
        <p><img src="{{ asset('uploads/users/') ~ user.path }}" class="img-circle w-56"></p>
        <a href="" class="text-md block">{{ user.name }}</a>
        <p><small>{{ user.roles|role }}</small></p>
        <p><small>{{ user.email }} | {{ user.mobile }}</small></p>
        <div>
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-linkedin indigo"></i>
            </a>
            
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-google-plus red"></i>
            </a>
            
            <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter light-blue"></i>
            </a>
        </div>
    </div>
    <div class="row no-gutter b-t">
        <div class="col-xs-4 b-r">
            <a class="p-a block text-center" ui-toggle-class="">
                <i class="material-icons md-24 text-muted m-v-sm inline"></i>
                <i class="material-icons md-24 text-danger m-v-sm none"></i>
                <span class="block">Group</span>
            </a>
        </div>
        <div class="col-xs-4 b-r">
            <a class="p-a block text-center" ui-toggle-class="">
                <i class="material-icons md-24 text-muted m-v-sm none"></i>
                <i class="material-icons md-24 text-danger m-v-sm inline"></i>
                <span class="block">Like</span>
            </a>
        </div>
        <div class="col-xs-4">
            <a class="p-a block text-center" ui-toggle-class="" ui-class="">
                <i class="material-icons md-24 text-muted m-v-sm inline"></i>
                <i class="material-icons md-24 text-danger m-v-sm none"></i>
                <span class="block">Message</span>
            </a>
        </div>
    </div>
</div>
