#belousovChat {
/*    width:200px;
    height:300px;
    border:1px solid #ccc;
    padding:0;*/
}
#belousovMessageZone {
/*    height:200px;
    padding:0;
    margin:auto;
    width:100%;
    border-bottom:1px solid #ccc;
    overflow-y: auto;*/
}
#belousovMessageZone p {
/*    padding:5px;
    margin:auto;
    width:90%;*/
}
#belousovMessageZone .mainUser {
    /*text-align:left;*/
}
#belousovMessageZone .secondUser {
    /*text-align:right;*/
}
#belousovFormZone {
/*    height:95px;
    margin:auto;
    padding:0;
    width:100%;*/
}
#belousovFormZone form {
    /*margin:10px;*/
}
#belousovFormZone form textarea {
    padding: 0;
    resize: none;
}

#belousovMessageZone .w-full {
    width: 42px;
    height: 42px;
}