/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fa0700; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #424242;
}
.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    font-size: 1.15rem;
    color: #fff;
}
.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    font-size: 1.15rem;
    color: #fff;
    text-transform: uppercase;
}
.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #616161;
}
.btn-warning {
    background-color: #f80!important;
    color: #fff!important;
}
.btn-outline-warning {
    border: 2px solid #f80!important;
    background-color: transparent!important;
    color: #f80!important;
}

.modal-header .close {
    padding: 1rem;
    margin: -3rem -1rem -1rem auto;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-content {
    border-radius: 0px;
}
.swal-modal {
    border-radius: 0px;
}
.swal-button-container button {
    border-radius: 0px;
}
.display-3 {
    font-size: 3rem;
}
.list-group-gap .list-group-item {
    background-color: #fa0700;
}

#form-modal .modal-body {
    padding: 30px 20px 10px 20px;
}
#form-modal .modal-header {
    padding: 5px 10px;
}
#form-modal .modal-footer button {
    border-radius: 0px;
}
.box .box-body {
    padding: 10px;
    text-align: justify;
}
.user-form .form-control {
    padding: 0px 5px;
}
.user-form .form-group {
    margin: 0;
}
.user-form .form-group label {
    margin: 0;
}
.user-form select {
    height: 27px;
    width: 100%;
}
.user-form .row {
    margin: 0 0 1px 0;
}
.user-form input {
    width: 100%;
    margin-bottom: 10px;
}
.user-form input[type='file'] {
    font-size: 12px;
}

#user_roles {
    padding: 0;
    width: 100%;
}

.box .p-a-md {
    padding: 5px!important;
}
.box .p-a-md p {
    margin-bottom: 0px;
}

input.has-error {
    border: 1px solid red;
}
.error-message {
    color: red;
    font-size: 11px;
}

.attachments {
    list-style: none;
    -webkit-padding-start: 0px;
}
.attachments li {
    padding-top: 5px;
    clear: both;
}
.attachments li > div {
    float: left;
    font-size: 18px;
}
.remove-attachment {
    font-size: 12px;
}
#course_description {
    width: 100%;
    resize: none;
}
.chat-box-list {
    height: 100%;
    width: 250px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.chat-box {
    height: 370px;
    width: 250px;
    position: fixed;
    bottom: -22px;
    right: 250px;
    z-index: 9999;
}
body {
    /*background-color: #3E3F43!important;*/
    background-color: #FFF!important;
}
.nav-item .avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.logo {
    max-height: 100%!important;
    vertical-align: middle!important;
    display: block!important;
    height: 64px!important;
}
.red-color {
    color: #fa0700!important;
}
.red-background-color {
    background-color: #fa0700!important;
}
.nav-active-border .nav-link:before {
    color: #fa0700;
}
.gray-color {
    color: #424242!important;
}
.gray-background-color {
    background-color: #424242!important;
}
.pace .pace-progress {
    background: #fa0700!important;
}
.pace .pace-activity {
    border-top-color: #fa0700!important;
    border-left-color: #fa0700!important;
}
.radius-0 {
    border-radius: 0;
}
.top-10 {
    margin-top: 10px!important;
}
.min-h-800 {
    min-height: 800px;
}
.min-h-600 {
    min-height: 600px;
}
.min-h-500 {
    min-height: 500px;
}
.min-h-280 {
    min-height: 280px;
}
.text-bold {
    font-weight: bold!important;
}

.modal-dialog {
    max-width: 800px;
}
.select2-container {
    width: 100%!important;
}

.ul-list {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#pdf-data {
    width: 100%;
    height: 810px;
}

.padding-10-15 {
    padding: 10px 15px;
}
.padding-5-10 {
    padding: 5px 10px;
}




body.framed {
    border: 10px solid transparent;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    min-width: 320px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    color: #88939C;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
}

body.framed .wrapper {
    border-radius: 0;
    margin-bottom: 10px;
}

.wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px #444;
    background-clip: content-box;
    height: 100%;
    overflow: scroll !important;
}

.header-navbar {
    margin-bottom: 0;
    border: 0;
    position: fixed;
    top: 0;
    background-color: #FFF;
    min-height: 50px;
    margin: 10px;
}
.box-header h3 {
    text-transform: uppercase;
    margin-left: -22px;
}
.box-header h3 b {
    padding: 7px 10px!important;
}
.width-20-percent {
    width: 20%;
}
.width-100-percent {
    width: 100%;
}
.width-auto {
    width: auto;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.box-header h3.normal {
     margin-left: 0px!important; 
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-top-200 {
    margin-top: 200px;
}
.display-block {
    display: block;
}
#calendar {
    max-width: 100%;
    margin: 0 auto;
}
a.fc-event {
    color: #FFF!important;
}

.fc-list-item div {
    padding: 5px 10px;
}

input::-webkit-calendar-picker-indicator {
    display: none!important;
}

input[type="date"]::-webkit-input-placeholder { 
    visibility: hidden !important;
}
input[type="datetime-local"]::-webkit-input-placeholder { 
    visibility: hidden !important;
}
input[type="datetime"]::-webkit-input-placeholder { 
    visibility: hidden !important;
}
.margin-0 {
    margin: 0!important;
}