{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesAdminBundle' %}

{% block title %}Admin | {{ 'course.index.title'|trans }}{% endblock title %}

{% block body %}
    <div class="padding">
        <div class="box min-h-800">
            {% for session in app.user.sessions %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <span class="label pull-right padding-10-15 red-background-color">{{ session.courses|length }}</span>
                            <h3>
                                <b class="padding-5-10 red-background-color gray-color">
                                    Formation : {{ session.formation }} | {{ session.title}}
                                </b>
                            </h3>
                            <small class="top-10">DE {{ session.startAt|date('d-m-Y') }} A {{ session.endAt|date('d-m-Y') }}</small>
                            <small>{{ session.description }}</small>
                        </div>
                        <div class="table-responsive">
                            {% set languageUrl = asset('js/fides/data/fr.json') %}
                            <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                                <thead>
                                    <tr>
                                        <th>Cours</th>
                                        <th>Description</th>
                                        <th>Fichiers (PDF)</th>
                                        <th>Fichiers (PPT)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                    {% for course in session.courses %}
                                        {% include "FidesStudentBundle:Course:item.html.twig" %}
                                    {% endfor %}
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <ul class="pagination"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
