{% extends 'base.html.twig' %}

{% block body %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="box min-h-800">
                    <div class="p-a-md primary p-y-lg red-background-color">
                        <h1 class="l-s-n-2x">
                            {{ course.title }} | {{ course.formation }}
                        </h1>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20%;">Titre</th>
                                <td>{{ course.title }}</td>
                            </tr>
                            <tr>
                                <th>Formation</th>
                                <td>{{ course.formation }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ course.description }}</td>
                            </tr>
                            
                            <tr>
                                <th>Ajouté par</th>
                                <td>
                                    {% set showFormerUrl = path('admin_user_show', {id: course.user.id}) %}
                                    <div class="sl-item">
                                        <div class="pull-left">
                                            <img src="{{ asset('uploads/users/') ~ course.user.path }}" class="img-circle w-32">
                                        </div>
                                        <div class="sl-content pull-left">
                                            <a href="{{ showFormerUrl }}" class="text-info">{{ course.user.name }}</a>
                                            <div>
                                                <i class="fa fa-phone-square"></i> {{ course.user.mobile }}
                                            </div>
                                        </div>
                                    </div>    
                                </td>
                            </tr>
                            <tr>
                                <th>Fichiers</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {% set attachments = course.attachments %}
                                    {% include "FidesStudentBundle:Attachment:list.html.twig" %}
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-sm-6">
                <div id="file-preview" class="box min-h-800">
                    {% if (course.attachments|length) > 0 %}
                        {% set attachment = course.attachments[0] %}
                        {% include "FidesAdminBundle:Course:pdf_preview.html.twig" %}
                    {% else %}
                        {% include "FidesAdminBundle:Course:pdf_not_found.html.twig" %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
