{% set showUrl = path('student_course_show', {id: course.id}) %}

<td>{{ course.title }}</td>
<td>{{ course.description }}</td>
<td>
    {% for attachment in course.attachments if attachment.type == "pdf" %}
    <i class="fa fa-file-pdf-o"></i> {{ course.title }}.{{ attachment.type }} <br/>
    {% else %}
    -
    {% endfor %}
</td>
<td>
    {% for attachment in course.attachments if (attachment.type == "ppt" or attachment.type == "pptx") %}
    <i class="fa fa-file-powerpoint-o"></i> {{ course.title }}.{{ attachment.type }} <br/>
    {% else %}
    -
    {% endfor %}
</td>
<td>
    <ul class="ul-list">
        <li>
            <a href="{{ showUrl }}"><i class="fa fa-eye"></i> Détails</a>
        </li>
    </ul>
</td>