{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}    
<h2 class="sub-head">Identifiez-vous</h2>
{% if error %}
<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('fos_user_security_check') }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <div class="icon1">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" id="username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" name="_username" value="{{ last_username }}" required="required" autofocus/>
  </div>
  <div class="icon1">
    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
    <input type="password" id="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" name="_password" required="required" />
  </div>
  <label class="anim">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span> 
  </label>
  <div class="clear"></div>
  <div class="bottom">
    <input type="submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    <br/>
    <br/>
    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
  </div>
</form>	
{% endblock %}
