{% form_theme edit_form 'FidesAdminBundle:Form:form_layout.html.twig' %}
{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'session.edit.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_session_edit', {id: session.id }) }}" method="POST" onSubmit="updateItem($(this));return false;" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.formation) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.formation) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.former) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.former) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.startAt) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.startAt) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.endAt) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(edit_form.endAt) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.users) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(edit_form.users, {'attr': {'class': 'select2', 'multiple': 'multiple'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.title) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(edit_form.title) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(edit_form.description) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(edit_form.description) }}
                        </div>
                    </div>
                        {{ form_widget(edit_form._token) }}
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'session.edit.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'session.edit.submit'|trans }}</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>