{% set deleteUrl = path('admin_session_delete', {id: session.id}) %}
{% set showUrl = path('admin_session_show', {id: session.id}) %}
{% set editFormUrl = path('admin_session_edit_form', {id: session.id}) %}

<td>{{ session.startAt|date('d-m-Y') }} <br> {{ session.endAt|date('d-m-Y') }}</td>
<td>{{ session.title }}</td>
<td>{{ session.formation }}</td>
<td>
    {% set showFormerUrl = path('admin_user_show', {id: session.former.id}) %}
    <div class="sl-item">
        <div class="pull-left">
            <img src="{{ asset('uploads/users/') ~ session.former.path }}" class="img-circle w-32">
        </div>
        <div class="sl-content pull-left">
            <a href="{{ showFormerUrl }}" class="text-info">{{ session.former.name }}</a>
            <div>
                <i class="fa fa-phone-square"></i> {{ session.former.mobile }}
            </div>
        </div>
    </div>
</td>
<td>{{ session.description|slice(0, 200) }}..</td>
<td>
    <ul class="ul-list">
        {% for user in session.users %}
            {% set showUserUrl = path('admin_user_show', {id: user.id}) %}
            <li>
                <div class="sl-item">
                    <div class="pull-left">
                        <img src="{{ asset('uploads/users/') ~ user.path }}" class="img-circle w-32">
                    </div>
                    <div class="sl-content pull-left">
                        <a href="{{ showUserUrl }}" class="text-info">{{ user.name }}</a>
                        <div>
                            <i class="fa fa-phone-square"></i> {{ user.mobile }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</td>

<td>
    <ul class="ul-list">
        <li>
            <a url="{{ editFormUrl }}" onClick="getForm($(this));">
                <i class="fa fa-pencil-square-o"></i> Modifier
            </a>
        </li>
        <li>
            <a href="{{ showUrl }}">
                <i class="fa fa-eye"></i> Détails
            </a>
        </li>
        <li>
            <a href="{{ showUrl }}">
                <i class="fa fa-eye"></i> Séances
            </a>
        </li>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this));">
                <i class="fa fa-trash-o"></i> Supprimer
            </a>
        </li>
    </ul>
</td>