<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FIDES{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        {% block stylesheets %}
            {#        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" media="all"/>#}
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{ asset('css/style2.css') }}" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{ asset('css/camera.css') }}" type="text/css" media="all"/>
            <!-- web font -->
            <link href="https://fonts.googleapis.com/css?family=Tenali+Ramakrishna&amp;subset=telugu" rel="stylesheet">
        {% endblock %}
    </head>
    <body style="overflow-y: hidden;">
        <!-- Header -->
        <header id="head">
            <div class="container">
                <div class="heading-text">							
                    <!-- main -->
                    <div class="main-agileinfo">
                        <div class="videologin">
                        {% block body %}{% endblock %}	
                    </div>	
                    <div class="clear"></div>
                </div>	
                <!-- //main -->
                <!-- copyright -->
                {#
                <div class="copyw3-agile">
                  <p> © 2018 FIDES. All rights reserved.</p>
                </div>
                #}
                <!-- //copyright -->
            </div>

            <div class="fluid_container">                       
                <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                    {% for i in 1..7 %}
                        <div data-thumb="{{ asset('images/slides/thumbs/') ~ i ~ '.jpg' }}" data-src="{{ asset('images/slides/') ~ i ~ '.jpg' }}"></div> 
                    {% endfor %}
                </div><!-- #camera_wrap_3 -->
            </div><!-- .fluid_container -->
        </div>
    </header>
    <!-- /Header -->

    {% block javascripts %}
        <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/modernizr-latest.js') }}"></script> 
        <script type='text/javascript' src="{{ asset('js/jquery.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('js/fancybox/jquery.fancybox.pack.js') }}"></script>

        <script type='text/javascript' src="{{ asset('js/jquery.mobile.customized.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('js/jquery.easing.1.3.js') }}"></script> 
        <script type='text/javascript' src="{{ asset('js/camera.min.js') }}"></script> 
        <script src="{{ asset('js/bootstrap.min.js') }}"></script> 
        <script src="{{ asset('js/custom.js') }}"></script>
        <script>
            jQuery(function () {

                jQuery('#camera_wrap_4').camera({
                    transPeriod: 500,
                    time: 3000,
                    height: '650',
                    loader: 'false',
                    pagination: false,
                    thumbnails: false,
                    hover: false,
                    playPause: false,
                    navigation: false,
                    opacityOnGrid: false,
                    imagePath: 'assets/images/'
                });

            });
        </script>
    {% endblock %}
</body>
</html>
