{% form_theme form 'FidesAdminBundle:Form:form_layout.html.twig' %}
{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate" id="form-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ 'payment.new.title'|trans }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="{{ path('admin_payment_new', {id: user.id }) }}" method="POST" onSubmit="addItem($(this));return false;" class="form-horizontal" novalidate>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.session) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.session) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.date) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="form-group col-sm-2">
                            {{ form_label(form.amount) }}
                        </div>
                        <div class="form-group col-sm-4">
                            {{ form_widget(form.amount) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-2">
                            {{ form_label(form.comment) }}
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.comment) }}
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-default-border waves-effect" data-dismiss="modal">{{ 'payment.new.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-success success btn-success-border waves-effect waves-light">{{ 'payment.new.submit'|trans }}</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>