{% trans_default_domain 'FidesAdminBundle' %}

{% set newFormUrl = path('admin_payment_new_form', {id: user.id }) %}
<div class="box">
    <div class="box-header">
        <h2>Paiements</h2>
        <small>Liste des paiements..</small>
        <a url="{{ newFormUrl }}" onClick="getForm($(this))" class="btn btn-sm blue red-background-color pull-right no-border">
            <i class="fa fa-plus fa-fw m-r-xs"></i> 
            <span class="hidden-sm-down">{{ 'payment.new.submit'|trans }}</span>
        </a>
    </div>
    <div class="table-responsive">
        {% set languageUrl = asset('js/fides/data/fr.json') %}
        <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Commentaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="items">
                {% for payment in user.payments %}
                    {% include "FidesAdminBundle:Payment:item.html.twig" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>