{% set deleteUrl = path('admin_payment_delete', {id: payment.id}) %}
{% set editFormUrl = path('admin_payment_edit', {id: payment.id}) %}

<td>
    {{ payment.session.name }} <br/>
    {{ payment.session.startAt|date('d/m/Y') }} - {{ payment.session.endAt|date('d/m/Y') }}
</td>
<td>{{ payment.date|date('d/m/Y') }}</td>
<td>{{ payment.amount }} DT</td>
<td>{{ payment.comment }}</td>

<td>
   <ul class="ul-list">
        <li>
            <a url="{{ editFormUrl }}" onClick="getForm($(this));">
                <i class="fa fa-pencil-square-o"></i> Modifier
            </a>
        </li>
        <li>
            <a url="{{ deleteUrl }}" onClick="deleteItem($(this));">
                <i class="fa fa-trash-o"></i> Supprimer
            </a>
        </li>
    </ul>
</td>