{% trans_default_domain 'FidesAdminBundle' %}

<div class="modal fade animate" id="form-modal-show" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-warning zoom" ui-class="zoom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">{{ seance.title }}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="form-group row">
                    <div class="form-group col-sm-2">
                        {{ 'seance.title'|trans }}
                    </div>
                    <div class="form-group col-sm-10">
                        {{ seance.title }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-2">
                        {{ 'seance.description'|trans }}
                    </div>
                    <div class="form-group col-sm-10">
                        {{ seance.description }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-2">
                        {{ 'seance.startAt'|trans }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ seance.startAt|date('Y-m-d H:i') }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-2">
                        {{ 'seance.endAt'|trans }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ seance.endAt|date('Y-m-d H:i') }}
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>