{% set deleteUrl = path('admin_seance_delete', {id: seance.id}) %}
{% set showUrl = path('admin_seance_show', {id: seance.id}) %}
{% set editFormUrl = path('admin_seance_edit_form', {id: seance.id}) %}
{{ seance.startAt|date('H:i') }} - {{ seance.endAt|date('H:i') }} <div class='pull-right'><a url='{{ editFormUrl }}' onClick='getForm($(this));'><i class='fa fa-pencil-square-o'></i></a> | <a url='{{ showUrl }}' onClick='showSeance($(this));'><i class='fa fa-eye'></i></a> | <a url='{{ deleteUrl }}' onClick='deleteSeance($(this));'><i class='fa fa-trash-o'></i></a></div>{% if seance.title %}<br/>{{ seance.title }}{% endif %}{% if seance.description %}<br/><small>{{ seance.description|slice(0, 50) }}..</small>{% endif %}