{% set deleteUrl = path('admin_seance_delete', {id: seance.id}) %}
{% set showUrl = path('admin_seance_show', {id: seance.id}) %}
{% set editFormUrl = path('admin_seance_edit_form', {id: seance.id}) %}

<div>
    {{ seance.startAt|date('H:i') }} | {{ seance.title }}
    <br/>
    <small>{{ seance.description|slice(0, 100) }}..</small>
    <br/>
    <a url='{{ editFormUrl }}' onClick='getForm($(this));'>
        <i class='fa fa-pencil-square-o'></i> Modifier
    </a>
    <a href='{{ showUrl }}'>
        <i class='fa fa-eye'></i> Détails
    </a>
    <a url='{{ deleteUrl }}' onClick='deleteItem($(this));'>
        <i class='fa fa-trash-o'></i> Supprimer
    </a>
</div>