{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesMainBundle' %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="box-header">
                <h3><b class="padding-5-10 red-background-color gray-color display-block">{{ 'reclamation.edit.title'|trans }}</b></h3>
                <br/>
                <small>Envoyez votre réclamation. Nous reviendrons vers vous dans les plus brefs délais !</small>
            </div>
            <div class="box-divider m-a-0"></div>
            <div class="box-body">
                <form action="{{ path('main_reclamation_edit', {'id': reclamation.id}) }}" method="post">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <button type="submit" class="btn white m-b">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
