{% extends 'base.html.twig' %}

{% trans_default_domain 'FidesMainBundle' %}

{% block body %}
    <div class="padding min-h-800">
        <div class="box">
            <div class="box-header">
                <div class="label pull-right">
                    {% set newFormUrl = path('main_reclamation_new') %}
                    <a href="{{ newFormUrl }}" class="btn btn-sm blue gray-background-color pull-right no-border">
                        <i class="fa fa-plus fa-fw m-r-xs"></i> 
                        <span class="hidden-sm-down">{{ 'reclamation.new.submit'|trans }}</span>
                    </a>
                </div>
                <h3><b class="padding-5-10 red-background-color gray-color">{{ 'reclamation.index.title'|trans }}</b></h3>
            </div>
            <div class="table-responsive">
                {% set languageUrl = asset('js/fides/data/fr.json') %}
                <table ui-jp="dataTable" ui-options="{'language': {'url' : '{{ languageUrl }}'}}" class="table table-striped b-t b-b">
                    <thead>

                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Crée le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reclamation in reclamations %}
                            <tr>
                                <td><a href="{{ path('main_reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.title }}</a></td>
                                <td>{{ reclamation.description }}</td>
                                <td>{{ reclamation.status == 1 ? 'Traité':'En cours de traitement' }}</td>
                                <td>{% if reclamation.createdAt %}{{ reclamation.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('main_reclamation_show', { 'id': reclamation.id }) }}"><i class="fa fa-eye"></i> Détails</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main_reclamation_edit', { 'id': reclamation.id }) }}"><i class="fa fa-pencil-square-o"></i> Modifier</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main_reclamation_delete', { 'id': reclamation.id }) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
