{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-2">
                <div class="box min-h-280">
                    <div class="box-header">
                        <h3><b class="padding-5-10 red-background-color gray-color">{{ session.title }}</b></h3>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Titre</th>
                            </tr>
                            <tr>
                                <td>{{ session.title }}</td>
                            </tr>
                            <tr>
                                <th>Dates</th>
                            </tr>
                            <tr>
                                <td>De {{ session.startAt|date('d-m-Y') }} à {{ session.endAt|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Formation</th>
                            </tr>
                            <tr>
                                <td>{{ session.formation }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>{{ session.description }}</td>
                            </tr>

                            <tr>
                                <th>Formateur</th>
                            </tr>
                            <tr>
                                <td>
                                    {% set showFormerUrl = path('admin_user_show', {id: session.former.id}) %}
                                    <div class="sl-item">
                                        <div class="pull-left">
                                            <img src="{{ asset('uploads/users/') ~ session.former.path }}" class="img-circle w-32">
                                        </div>
                                        <div class="sl-content pull-left">
                                            <a href="{{ showFormerUrl }}" class="text-info">{{ session.former.name }}</a>
                                            <div>
                                                <i class="fa fa-phone-square"></i> {{ session.former.mobile }}
                                            </div>
                                        </div>
                                    </div>    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>            
        
            <div class="col-sm-10">
                <div class="box min-h-280">
                    <div class="box-header">
                        <h3><b class="padding-5-10 red-background-color gray-color">Séances</b></h3>
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var events = [];
        {% for seance in session.seances %}
            var event = {
                id: "{{ seance.id }}",
                title: "{{ seance.title }}",
                start: "{{ seance.startAt|date('Y-m-d\\TH:i:s') }}",
                end: "{{ seance.endAt|date('Y-m-d\\TH:i:s') }}",
                html: "{{ render(controller('FidesAdminBundle:Seance:showItem', {'id': seance.id})) }}"
            };
    
            events.push(event);
        {% endfor %}
        console.log(events)
    </script>
    <script src="{{ asset('js/calendar/lib/moment.min.js') }}"></script>
    <script src="{{ asset('js/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/calendar/calendar.js') }}"></script>
    <script src="{{ asset('js/calendar/locale/fr.js') }}"></script>
{% endblock %}
