{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.id }}</a></td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{% if course.createdAt %}{{ course.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if course.updatedAt %}{{ course.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('course_show', { 'id': course.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('course_edit', { 'id': course.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_new') }}">Create a new course</a>
        </li>
    </ul>
{% endblock %}
