{% extends 'base.html.twig' %}

{% block body %}
<div class="row-col min-h-600">
        <div class="col-sm w w-auto-xs light lt bg-auto width-20-percent">
            <div class="padding pos-rlt">
                <div>
                    <button class="btn btn-sm white pull-right hidden-sm-up" ui-toggle-class="show" target="#inbox-menu"><i class="fa fa-bars"></i></button>
                    <a href="{{ path('fos_message_thread_new') }}" class="btn btn-sm white w-xs width-100-percent">
                        {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
                    </a>
                </div>
                <div class="hidden-xs-down m-t" id="inbox-menu">
                    <div class="nav-active-primary">
                        <div class="nav nav-pills nav-sm">
                            <a href="{{ path('fos_message_inbox') }}" class="nav-link">
                                {% trans from 'FOSMessageBundle' %}inbox{% endtrans %}
                            </a>
                            <a href="{{ path('fos_message_sent') }}" class="nav-link">
                                {% trans from 'FOSMessageBundle' %}sent{% endtrans %}
                            </a>
                            <a href="{{ path('fos_message_deleted') }}" class="nav-link">
                                {% trans from 'FOSMessageBundle' %}deleted{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div ui-view class="padding pos-rlt">
                <a href="{{ path('fos_message_thread_new') }}" class="md-btn md-fab md-fab-bottom-right pos-fix red">
                    <i class="material-icons i-24 text-white">&#xe150;</i>
                </a>
                <div>
                    <!-- header -->
                    <div class="m-b">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group dropdown">
                                <button class="btn white btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">Filter</span>                    
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu text-left text-sm">
                                    <a class="dropdown-item" href>Unread</a>
                                    <a class="dropdown-item" href>Starred</a>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm white" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- / header -->

                    <!-- list -->
                    <div class="list white">
                        {% block fos_message_content %}{% endblock %}
                    </div>
                    <!-- / list -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}